$colors: (
  appPrimaryRed: #840f06,
  appPrimaryBlack: #1b1b1b,
  appPrimaryRedOpacity: #840f0610,
  appGunPowder: #43425d,
  appGunPowderLight: #4d4f5c,

  appTerminalBg: #232a2d,
  appGreyFont: #a3a6b4,
  appBlackOpacity: #00000010,
  appNavigationSlider: #a3a0fb,
  appPageBackground: #f0f0f7,
  appActiveTabPrimary: #3b86ff,
  appLightBlack: #2e2e2e,
  appLightRed: #fd5858,
  appRed: #e74c3c,
  appRedLighter: #ee5253,
  appSharpRed: #ff4757,
  appDarkPink: #ff7979,
  appLightBlue: #f5f6fa,
  appOrange: #f39c12,
  appDarkPurple: #704cbc,
  appOrangeLight: #fbc531,
  appYellowLight: #f5c702,
  appDarkYellow: #f1c40f,
  appGreen: #1abc9c,
  appLightGreen: #2ecc71,
  appBluePrimary: #3498db,
  appLightPrimary: #40739e,
  appBlueLightPrimary: #4aa5e2,
  appAnalyticsTurquoise: #74b9ff,
  appAnalyticsLightTurquoise: #80cbc4,
  appAnalyticsLightOrange: #ffab91,
  appAnalyticsYellow: #d4af37,
  appAnalyticsPink: #f7748e,
  appAnalyticsLightBlue: #69a1fc,
  appAnalyticsBlue: #4b7bec,
  appRankGoldBg: #ffba56,
  appRankGoldBorder: #ffe27a,
  appRankBronzeBg: #ce7430,
  appRankBronzeBorder: #ff9838,
  appRankSilverBg: #9e9e9e,
  appRankSilverBorder: #e0e0e0,
  appRankPlatinumBg: #556fe6,
  appRankPlatinumBorder: #778beb,
  appRankOtherBg: #3ec1d3,
  appRankOtherBorder: #64cddb,
  appConditionItemBackground: #43425d3b,
  appInstagram: #3d6e95,
  appTwitter: #16b9f5,
  appYoutube: #de2c26,
  appFacebook: #3c589d,
  appBlog: #f58c24,
  appEmail: #d24d3f,
  appPrimaryBlue: #1e90ff,
  appLightGrey: #d7d7d7,
  appGreyLighter: #ededed,
  appGrey: #717171,
  appDealPaymentType: #2c3e50,
);

:export {
  @each $key, $value in $colors {
    #{$key}: $value;
  }
}
